/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.wrapper {
    background-color: var(--color-wrapper-bg);
    width: 100vw;
    height: 100vh;
    padding: var(--spacing-xl);
}

h1, h2, h3 {
    font-family: var(--font-family-serif);

}
h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

p {
    margin-bottom: var(--spacing-sm);
}
