/* Design Tokens */

:root {
    /* Colors */
    --color-about: #FF0000;
    --color-wrapper-bg: var(--color-about);
    
    /* Spacing */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
    
    /* Typography */
    --font-family-serif: 'Merriweather', serif;
    --font-family-sans: 'Merriweather Sans', sans-serif;
    --font-family-base: var(--font-family-sans);
    --font-family-headings: var(--font-family-serif);
    --font-size-base: 16px;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    
    /* Border Radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
}
